body {
  height: 100vh;
  margin: 0px;
}

#root {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.grid {
  display: block;
}

.hand {
  display: block;
  position: fixed;
}

#hand-P1 {
  left: 10px;
}

#hand-P2 {
  right: 10px;
}
